include MAST/examples/*
include MAST/recipe_templates/*
include MAST/submit/platforms/*
include MAST/submit/platforms/aci/*
include MAST/submit/platforms/bardeen/*
include MAST/submit/platforms/dlx/*
include MAST/submit/platforms/korczak/*
include MAST/submit/platforms/no_queue_system/*
include MAST/submit/platforms/pbs_generic/*
include MAST/submit/platforms/sge_generic/*
include MAST/submit/platforms/slurm_generic/*
include MAST/submit/platforms/stampede/*
include MAST/submit/platforms/turnbull/*
include MAST/submit/runmast.py
include MAST/initialization/*
include MAST/summary/citations/*
include MAST/ingredients/programkeys/*
