recursive-include MAST/summary/citation_files *
recursive-include MAST/ingredients/programkeys *
recursive-include MAST/submit/platforms *.sh
recursive-include MAST/examples *
recursive-include MAST/examples *.inp
recursive-include MAST/initialization *
recursive-include MAST/build/html *
include MAST/structopt/StructOpt_User_Guide_v1.docx
