recursive-include MAST/utility/gbdiff *
recursive-include MAST/utility/diffanalyzer *
recursive-include MAST/summary/citations *
recursive-include MAST/ingredients/programkeys *
recursive-include MAST/submit/platforms *.sh
recursive-include MAST/examples *.inp
recursive-include MAST/test *
